* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --gray-100: #F3F3F5;
    --gray-200: #E1E1E6;
    --gray-400: #717182;
    --gray-500: #0A0A0A;

    --navy-dark: #211F42;
    --navy-low: #030213;
}

html {
    width: 100vw;
    height: 100%;
    padding: 3.2rem 6.4rem;
}

html,
button,
input::placeholder {
    font-family: "Inter", sans-serif;
}

#my-library {
    display: flex;
    justify-content: space-between;
    align-items: center;


    #logo {
        display: flex;
        font-size: 1rem;
        align-items: center;
        gap: 1.2rem;

        h1 {
            width: 17rem;
        }
    }
}

/* buttons */

#add-book {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: var(--navy-low);
    padding: 0.8rem 1.6rem;

    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    color: white;
    border-radius: .8rem;
    border: none;

    cursor: pointer;
}

#add-book:hover {
    background-color: var(--navy-dark);
}

#dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
    gap: 1.6rem;

    .dash-cards {
        border: 1px solid var(--gray-200);
        border-radius: .8rem;
        padding: 1.6rem;

        .dash-number {
            font-size: 2.4rem;
            color: var(--gray-500);
            line-height: 3.2rem;
            font-weight: 500;
        }

        .dash-status {
            font-size: 1.6rem;
            color: var(--gray-400);
            line-height: 2.4rem;
            font-weight: 600;
        }
    }
}

#search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1.6rem;


    #search-titles {
        display: flex;
        width: 100%;
        gap: 1.2rem;
        padding: 1rem 1.2rem;
        border-radius: .8rem;

        background-color: var(--gray-100);

        img {
            width: 1.6rem;
            height: auto;
        }

        input {
            background-color: var(--gray-100);
            color: var(--gray-400);
            font-size: 1.4rem;
            line-height: 2rem;


            border: none;
            width: 100%;
        }

        input:focus {
            outline: none;
        }
    }

    #status-select {
        background-color: var(--gray-100);
        color: var(--gray-500);
        font-size: 1.4rem;
        line-height: 2rem;

        padding: .8rem 1.2rem;

        border: none;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        background-image: url('./assets/chevron-down.png');
        background-repeat: no-repeat;
        background-position: right 1.2rem top 50%;
        background-size: 18px;

        padding-right: 4rem;

        cursor: pointer;

        &:focus {
            outline: none;
        }

        &::-ms-expand {
            display: none;
        }

    }

}