* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --gray-100: #F3F3F5;
    --gray-200: #E1E1E6;
    --gray-400: #717182;
    --gray-500: #0A0A0A;

    --navy-dark: #211F42;
    --navy-low: #030213;

    --green-base: #016630;
    --green-light: #DCFCE7;
    --yellow-base: #894B00;
    --yellow-light: #FEF9C2;
    --blue-base: #193CB8;
    --blue-light: #DBEAFE;
    --red-bright: #D4183D;

    --overlay: rgba(0, 0, 0, 0.50);

}

html {
    height: 100%;
    padding: 3.2rem 6.4rem;
}

html,
button,
input::placeholder {
    font-family: "Inter", sans-serif;
}

#my-library {
    display: flex;
    justify-content: space-between;
    align-items: center;


    #logo {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        h1 {
            font-size: 1.6rem;
        }
    }
}



#add-book {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: var(--navy-low);
    padding: 0.8rem 1.6rem;

    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    color: white;
    border-radius: .8rem;
    border: none;

    cursor: pointer;
}

#add-book:hover {
    background-color: var(--navy-dark);
}

#dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
    gap: 1.6rem;

    .dash-cards {
        border: 1px solid var(--gray-200);
        border-radius: .8rem;
        padding: 1.6rem;

        .dash-number {
            font-size: 2.4rem;
            color: var(--gray-500);
            line-height: 3.2rem;
            font-weight: 500;
        }

        .dash-status {
            font-size: 1.6rem;
            color: var(--gray-400);
            line-height: 2.4rem;
            font-weight: 600;
        }
    }
}

#search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1.6rem;


    #search-titles {
        display: flex;
        width: 100%;
        gap: 1.2rem;
        padding: 1rem 1.2rem;
        border-radius: .8rem;

        background-color: var(--gray-100);

        img {
            width: 1.6rem;
            height: auto;
        }

        input {
            background-color: var(--gray-100);
            color: var(--gray-400);
            font-size: 1.4rem;
            line-height: 2rem;


            border: none;
            width: 100%;
        }

        input:focus {
            outline: none;
        }
    }

    #status-select {
        background-color: var(--gray-100);
        color: var(--gray-500);
        font-size: 1.4rem;
        line-height: 2rem;

        padding: .8rem 1.2rem;

        border: none;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        background-image: url('./assets/chevron-down.png');
        background-repeat: no-repeat;
        background-position: right 1.2rem top 50%;
        background-size: 18px;

        padding-right: 4rem;

        cursor: pointer;

        &:focus {
            outline: none;
        }

        &::-ms-expand {
            display: none;
        }
    }
}

main {
    padding-bottom: 3.2rem;

    #empty {
        color: var(--gray-400);
        text-align: center;

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;

        margin-top: 4.8rem;
    }

    #books {
        display: grid;
        grid-template-columns: repeat(4, 23rem);
        justify-content: space-between;
        gap: 2.4rem;
        margin-top: 2.4rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: var(--gray-400);

    }



}

.book-cards {
    display: flex;
    flex-direction: column;
    width: 23rem;
    padding: 1.6rem 1.6rem 0;
    border-radius: 8px;
    border: 1px solid var(--gray-200);
    background: #FFF;

    >img {
        height: 26rem;
        align-self: stretch;
        aspect-ratio: 49/65;
        border-radius: .8rem;

        margin-bottom: 1.6rem;

        border-radius: 8px;

    }

    .infos {
        .title {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 150%;
            color: var(--gray-500);
        }

        .author {
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            color: var(--gray-400);
        }
    }

    .tag {
        display: flex;
        width: fit-content;
        padding: 4px 8px;
        justify-content: center;
        align-items: center;

        border-radius: 8px;

        margin: 1.2rem 0 .8rem;


        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 133.333%;

    }

    .read {
        color: var(--green-base);
        background: var(--green-light);
    }

    .reading {
        color: var(--yellow-base);
        background: var(--yellow-light);
    }

    .to-read {
        color: var(--blue-base);
        background: var(--blue-light);
    }
}

.review {
    display: flex;
    gap: 5px;
}

.review .star {
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    transition: transform 0.15s;
}

.review .star:hover {
    transform: scale(1.12);
}


.comment p {
    color: var(--gray-400);

    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;

    margin: .8rem 0 2.4rem;

    display: -webkit-box;
    min-height: calc(2 * 1.4rem * 1.42857);
    -webkit-line-clamp: 2;
    /* número de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;

}

.buttons {
    display: flex;
    padding: .8rem;
    justify-content: center;
    align-items: center;
    gap: 8px;

    button {
        display: flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 12px;

        border-radius: .8rem;
        border: 1px solid var(--gray-200);
        background: #FFF;

        color: var(--gray-500);


        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 142.857%;

        cursor: pointer;

    }

    button:hover {
        background: var(--gray-100);
    }

    .trash {
        color: var(--red-bright);
    }

    button img {
        width: 1.6rem;
        height: 1.6rem;
        aspect-ratio: 1/1;
    }

}

/* MODAL */

/* Esconde elementos */
.hidden {
    display: none;
}

/* Overlay escuro */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay);
    backdrop-filter: blur(2px);
    z-index: 999;
}

/* Modal centralizado */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    width: 425px;
    padding: 2.4rem;

    background: #fff;
    border-radius: .8rem;
    border: 1px solid var(--gray-200);
    background: #FFF;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);

    animation: fadeIn 0.2s ease-in-out;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -48%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


.modal-content {
    h2 {
        color: var(--gray-500);

        font-size: 1.8rem;
        font-weight: 600;
        line-height: 155.556%;

        margin-bottom: 1.2rem;
    }
}

.close-btn {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    border: none;
    background: none;
    font-size: 1.6rem;
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;

}

label {
    color: var(--gray-500);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.15px;

    margin-bottom: .8rem;
}

.form-group input,
.form-group select,
.form-group textarea {
    display: flex;
    padding: .8rem 1.2rem;
    align-items: center;
    gap: 12px;

    border-radius: .8rem;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background: var(--gray-100);

    font-family: "Inter", sans-serif;

    color: var(--gray-500);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: var(--gray-400);
    opacity: 1;
}


section#modalReview.review {
    margin-bottom: 16px;
    margin-top: 8px;
    gap: 1.2rem;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: .8rem;
}

.btn-cancel {
    padding: .8rem 1.6rem;
    border-radius: .8rem;

    border: 1px solid var(--gray-200);
    background: #FFF;

    cursor: pointer;

    color: var(--gray-500);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
}

.btn-cancel:hover {
    background-color: var(--gray-100);

}


.btn-add {
    padding: .8rem 1.6rem;
    border-radius: .8rem;

    border: none;
    background: var(--navy-low);

    cursor: pointer;

    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
}

.btn-add:hover {
    background-color: var(--navy-dark);

}



@media (max-width: 575.98px) {
    html {
        padding: 3.2rem 1.6rem;
    }

    #add-book {
        font-size: 1.2rem;
    }

    #dashboard {
        grid-template-columns: repeat(2, 1fr);
    }

    #search {
        flex-direction: column;
        gap: .8rem;

    }

    main {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        #books {
            display: flex;
            flex-direction: column;
        }
    }



    .book-cards {
        width: 100%;

        >img {
            height: 40.6rem;
            align-self: stretch;
            aspect-ratio: 49/65;

            border-radius: 8px;
            border: 1px solid var(--gray-200);
            background: #Fff;

        }

        .buttons {
            padding: 0;
            margin-bottom: .8rem;

            button {
                width: 100%;
            }
        }
    }
}